@import './variables';

.button {
    min-width: 101px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    transition: 0.3s transform;
    border: none;
    background-color: transparent;
    background: transparent;
    padding: 10px 18px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }
    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &::before {
        background: linear-gradient(135deg,
            transparent 0%,
            transparent 7px,
            $main-color 7px,
            $main-color 51%,
            transparent 51%,
            transparent 100%
        );
    }
    &::after {
        background: linear-gradient(-45deg,
            transparent 0%,
            transparent 7px,
            $main-color 7px,
            $main-color 51%,
            transparent 51%,
            transparent 100%
        );
    }
    &__main, &__secondary {
        &:hover {
            color: #fff;
        }
    }
    &__secondary {
        &::before {
            background: linear-gradient(135deg,
                transparent 0%,
                transparent 7px,
                $grey 7px,
                $grey 51%,
                transparent 51%,
                transparent 100%
            );
        }
        &::after {
            background: linear-gradient(-45deg,
                transparent 0%,
                transparent 7px,
                $grey 7px,
                $grey 51%,
                transparent 51%,
                transparent 100%
            );
        }
    }
    &:hover {
        transform: translateY(-5px);
    }
    &:disabled{
        filter: grayscale(.7);
    }
}